#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sidebar {
  display: flex;
  background-color: rgb(206, 206, 162);
  position: relative;
  width: 200px;
  height: 100vh;
  padding-left: 15px;
  padding-top: 15px;
}

.sidebar-links {
  color: blue;
}

.home-page {
  background-color: rgb(163, 188, 113);
  width: 100vw;
}

.cuerpo-pagina {
  display: flex;
}

.add-form {
  padding: 15px;
  background-color: rgb(230, 211, 137);
  margin: 20px 200px 20px 200px;
  border-radius: 7px;
}

.btn-add-recipe{
  background-color: rgb(54, 168, 71);
  color:rgb(243, 245, 242);
  box-shadow: 0 0 3px rgb(4, 6, 7) ;
  border-radius: 5px;
}

.list-item {
  border: 2px solid #649033;
  border-radius: 10px;
  margin: 0px 30px 20px 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  
}

.upbarra{
  display: flex;
  background-color: #649033;
  
}

.titulo-upbarra{
  align-items: center;
  width: 750px;
  padding-top: 50px;
  padding-left: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.logoimg1 {
  margin-left: 100px;
}
.logoimg2 {
  margin-right: 80px;
}

.btn-edite-recipe{
  background-color: rgb(54, 168, 71);
  color:rgb(243, 245, 242);
  box-shadow: 0 0 3px rgb(4, 6, 7) ;
  border-radius: 5px;
  margin-bottom: 20px;
  
}

.btn-delete{
  background-color: rgb(102, 109, 103);
  color:rgb(243, 245, 242);
  box-shadow: 0 0 3px rgb(4, 6, 7) ;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.btn-details {
  background-color: rgb(207, 155, 34);
  color:rgb(243, 245, 242);
  box-shadow: 0 0 3px rgb(4, 6, 7) ;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.back-bottom {
  background-color: rgb(207, 155, 34);
  color:rgb(243, 245, 242);
  box-shadow: 0 0 3px rgb(4, 6, 7) ;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.edit-form{
  padding: 15px;
  background-color: rgb(230, 211, 137);
  margin: 20px 100px 20px 100px;
  border-radius: 7px;
  border: 2px solid #649033 ;
}

.each-recipe{
  padding-top: 30px;
}

.footer {
  background-color: #649033;
  height: 60px;
}

.footer-link {
  display: flex; 
  color: blue;
  justify-content: center; 
  padding: 20px;
}

.filtered-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 200px 10px 120px;
  column-gap: 30px;
  padding-top: 20px;
  align-items: center;
  width: 500px;
  flex-wrap: wrap;
  
}

.dashboard {
  max-width: 700px;
}

.recipe-suggestion{
  color: black;
  border: 2px solid #649033;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  background-color: rgb(230, 211, 137);
}

.about-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #649033;
  margin-left: 100px;
  margin-right: 100px;
  padding: 10px;
  background-color: rgb(230, 211, 137);
}

.about-profiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.about-links {
  color: blue;
  align-items:flex-start;
}

.label-add-form {
  border-radius: 5px;
  background-color: #d5e9bd;
  color: black;
  margin-left: 5px;
}

.title-add-form{
  color:black;
  font-size: large;
  text-decoration: underline;
}

.label-search-bar{
  border-radius: 5px;
  background-color: #e6e9e3;
  color: black;
}